flow.json
[{"id":"ee4f4a32.d0d528","type":"mqtt in","z":"46a548ee.1f1768","name":"","topic":"status/temp","qos":"2","broker":"d63b242b.34c848","x":260,"y":380,"wires":[["f3463228.e0e8"]]},{"id":"f3463228.e0e8","type":"ui_gauge","z":"46a548ee.1f1768","name":"","group":"c26d5e4b.f5bdc","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{value}}ºC","min":"-20","max":"35","colors":["#0080ff","#0080ff","#ca3838"],"seg1":"","seg2":"","x":530,"y":380,"wires":[]},{"id":"92f0e54f.661708","type":"mqtt in","z":"46a548ee.1f1768","name":"","topic":"status/umi","qos":"2","broker":"d63b242b.34c848","x":260,"y":500,"wires":[["9bcea693.987488"]]},{"id":"9bcea693.987488","type":"ui_gauge","z":"46a548ee.1f1768","name":"","group":"2d83de62.6e54e2","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{value}}%","min":"0","max":"100","colors":["#ffffff","#00ffff","#0080ff"],"seg1":"","seg2":"","x":550,"y":500,"wires":[]},{"id":"524190e3.f09d1","type":"ui_button","z":"46a548ee.1f1768","name":"","group":"65615cf2.4d3ba4","order":1,"width":0,"height":0,"passthru":false,"label":"ON","color":"","bgcolor":"","icon":"","payload":"ON","payloadType":"str","topic":"commands/remote","x":250,"y":580,"wires":[["c3d49d3f.93631"]]},{"id":"c3d49d3f.93631","type":"mqtt out","z":"46a548ee.1f1768","name":"","topic":"commands/remote","qos":"","retain":"","broker":"d63b242b.34c848","x":560,"y":580,"wires":[]},{"id":"b23dadce.b71f3","type":"ui_button","z":"46a548ee.1f1768","name":"","group":"65615cf2.4d3ba4","order":2,"width":0,"height":0,"passthru":false,"label":"OFF","color":"","bgcolor":"","icon":"","payload":"OFF","payloadType":"str","topic":"commands/remote","x":250,"y":680,"wires":[["bc6e4180.67c14"]]},{"id":"bc6e4180.67c14","type":"mqtt out","z":"46a548ee.1f1768","name":"","topic":"commands/remote","qos":"","retain":"","broker":"d63b242b.34c848","x":560,"y":680,"wires":[]},{"id":"c2c06083.1f8cf","type":"ui_button","z":"46a548ee.1f1768","name":"","group":"65615cf2.4d3ba4","order":3,"width":0,"height":0,"passthru":false,"label":"+","color":"","bgcolor":"","icon":"","payload":"PLUS","payloadType":"str","topic":"commands/remote","x":250,"y":780,"wires":[["144c6190.f5ffbe"]]},{"id":"144c6190.f5ffbe","type":"mqtt out","z":"46a548ee.1f1768","name":"","topic":"commands/remote","qos":"","retain":"","broker":"d63b242b.34c848","x":560,"y":780,"wires":[]},{"id":"aba6ab73.b46348","type":"ui_button","z":"46a548ee.1f1768","name":"","group":"65615cf2.4d3ba4","order":4,"width":0,"height":0,"passthru":false,"label":"-","color":"","bgcolor":"","icon":"","payload":"MINUS","payloadType":"str","topic":"commands/remote","x":250,"y":880,"wires":[["ba288702.cd2338"]]},{"id":"ba288702.cd2338","type":"mqtt out","z":"46a548ee.1f1768","name":"","topic":"commands/remote","qos":"","retain":"","broker":"d63b242b.34c848","x":560,"y":880,"wires":[]},{"id":"73482a29.a4e934","type":"mqtt out","z":"46a548ee.1f1768","name":"","topic":"commands/temp_desejada","qos":"","retain":"","broker":"d63b242b.34c848","x":600,"y":1020,"wires":[]},{"id":"1e2cbfa5.7ceac","type":"ui_slider","z":"46a548ee.1f1768","name":"Slider temp","label":"Temperatura desejada","group":"65615cf2.4d3ba4","order":6,"width":"8","height":"2","passthru":true,"topic":"commands/temp_desejada","min":"15","max":"25","step":1,"x":250,"y":1020,"wires":[["73482a29.a4e934","aabce372.351e1"]]},{"id":"aabce372.351e1","type":"ui_gauge","z":"46a548ee.1f1768","name":"","group":"65615cf2.4d3ba4","order":5,"width":0,"height":0,"gtype":"gage","title":"Temperatura desejada","label":"ºC","format":"{{value}}","min":"15","max":"25","colors":["#0000ff","#ffffff","#ca3838"],"seg1":"","seg2":"","x":600,"y":960,"wires":[]},{"id":"2b0d3c21.437194","type":"ui_switch","z":"46a548ee.1f1768","name":"Habilitar_smart","label":"Ativar controle inteligente","group":"65615cf2.4d3ba4","order":0,"width":"6","height":"1","passthru":true,"decouple":"false","topic":"commands/enable_control","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":240,"y":1120,"wires":[["bb26d6e6.d88968"]]},{"id":"bb26d6e6.d88968","type":"mqtt out","z":"46a548ee.1f1768","name":"","topic":"commands/enable_control","qos":"","retain":"","broker":"d63b242b.34c848","x":580,"y":1120,"wires":[]},{"id":"d63b242b.34c848","type":"mqtt-broker","z":"","name":"local","broker":"192.168.0.6","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"c26d5e4b.f5bdc","type":"ui_group","z":"","name":"Temperatura Atual","tab":"e8e602e7.8459f","order":2,"disp":true,"width":"6","collapse":false},{"id":"2d83de62.6e54e2","type":"ui_group","z":"","name":"Umidade Atual","tab":"e8e602e7.8459f","disp":true,"width":"6","collapse":false},{"id":"65615cf2.4d3ba4","type":"ui_group","z":"","name":"Remote Control","tab":"2987af92.90a19","disp":true,"width":"8","collapse":false},{"id":"e8e602e7.8459f","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"2987af92.90a19","type":"ui_tab","z":"","name":"Control","icon":"dashboard"}]