flow.json
[{"id":"8d6eb3b2.5c2c2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3cc4b117.90ecde","type":"mqtt-broker","z":"","name":"local","broker":"192.168.0.6","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"359ce22b.fa910e","type":"ui_group","z":"8d6eb3b2.5c2c2","name":"Temperatura Atual","tab":"e8e602e7.8459f","order":2,"disp":true,"width":"6","collapse":false},{"id":"c9bce391.955ee","type":"ui_group","z":"8d6eb3b2.5c2c2","name":"Umidade Atual","tab":"e8e602e7.8459f","disp":true,"width":"6","collapse":false},{"id":"816b5efb.14d76","type":"ui_group","z":"8d6eb3b2.5c2c2","name":"Remote Control","tab":"2987af92.90a19","disp":true,"width":"8","collapse":false},{"id":"7cd35668.8ccb38","type":"ui_tab","z":"8d6eb3b2.5c2c2","name":"Home","icon":"dashboard"},{"id":"948b66d2.d19598","type":"ui_tab","z":"8d6eb3b2.5c2c2","name":"Control","icon":"dashboard"},{"id":"63111d9b.861024","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c2f54911.112048","type":"mqtt-broker","z":"","name":"local","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3e114db1.7829a2","type":"ui_group","z":"","name":"Temperatura Atual","tab":"83f4e6c7.c570a8","order":2,"disp":true,"width":"6","collapse":false},{"id":"2b70f3af.fda1ec","type":"ui_group","z":"","name":"Umidade Atual","tab":"83f4e6c7.c570a8","disp":true,"width":"6","collapse":false},{"id":"cb20d7bc.b7a558","type":"ui_group","z":"","name":"Remote Control","tab":"70335472.5e4f2c","disp":true,"width":"8","collapse":false},{"id":"83f4e6c7.c570a8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"70335472.5e4f2c","type":"ui_tab","z":"","name":"Control","icon":"dashboard"},{"id":"fac78012.05cf3","type":"mqtt in","z":"8d6eb3b2.5c2c2","name":"","topic":"status/temp","qos":"2","datatype":"auto","broker":"c2f54911.112048","x":411,"y":160,"wires":[["f36da2f3.3efa"]]},{"id":"f36da2f3.3efa","type":"ui_gauge","z":"8d6eb3b2.5c2c2","name":"","group":"3e114db1.7829a2","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{value}}ºC","min":"-20","max":"35","colors":["#0080ff","#0080ff","#ca3838"],"seg1":"","seg2":"","x":681,"y":160,"wires":[]},{"id":"7a0268e7.d69b68","type":"mqtt in","z":"8d6eb3b2.5c2c2","name":"","topic":"status/umi","qos":"2","broker":"c2f54911.112048","x":411,"y":280,"wires":[["60f851d3.cec68"]]},{"id":"60f851d3.cec68","type":"ui_gauge","z":"8d6eb3b2.5c2c2","name":"","group":"2b70f3af.fda1ec","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{value}}%","min":"0","max":"100","colors":["#ffffff","#00ffff","#0080ff"],"seg1":"","seg2":"","x":701,"y":280,"wires":[]},{"id":"c4d6fbbc.94c8d8","type":"ui_button","z":"8d6eb3b2.5c2c2","name":"","group":"cb20d7bc.b7a558","order":1,"width":0,"height":0,"passthru":false,"label":"ON","color":"","bgcolor":"","icon":"","payload":"ON","payloadType":"str","topic":"commands/remote","x":401,"y":360,"wires":[["5d07e5f2.f5338c"]]},{"id":"5d07e5f2.f5338c","type":"mqtt out","z":"8d6eb3b2.5c2c2","name":"","topic":"commands/remote","qos":"","retain":"","broker":"c2f54911.112048","x":711,"y":360,"wires":[]},{"id":"8952d021.7db25","type":"ui_button","z":"8d6eb3b2.5c2c2","name":"","group":"cb20d7bc.b7a558","order":2,"width":0,"height":0,"passthru":false,"label":"OFF","color":"","bgcolor":"","icon":"","payload":"OFF","payloadType":"str","topic":"commands/remote","x":401,"y":460,"wires":[["db9a2c1f.c34d5"]]},{"id":"db9a2c1f.c34d5","type":"mqtt out","z":"8d6eb3b2.5c2c2","name":"","topic":"commands/remote","qos":"","retain":"","broker":"c2f54911.112048","x":711,"y":460,"wires":[]},{"id":"dea7abf.3775258","type":"ui_button","z":"8d6eb3b2.5c2c2","name":"","group":"cb20d7bc.b7a558","order":3,"width":0,"height":0,"passthru":false,"label":"+","color":"","bgcolor":"","icon":"","payload":"PLUS","payloadType":"str","topic":"commands/remote","x":401,"y":560,"wires":[["ec06c875.01e508"]]},{"id":"ec06c875.01e508","type":"mqtt out","z":"8d6eb3b2.5c2c2","name":"","topic":"commands/remote","qos":"","retain":"","broker":"c2f54911.112048","x":711,"y":560,"wires":[]},{"id":"8247c0c7.d3bdc","type":"ui_button","z":"8d6eb3b2.5c2c2","name":"","group":"cb20d7bc.b7a558","order":4,"width":0,"height":0,"passthru":false,"label":"-","color":"","bgcolor":"","icon":"","payload":"MINUS","payloadType":"str","topic":"commands/remote","x":401,"y":660,"wires":[["5a305c69.889754"]]},{"id":"5a305c69.889754","type":"mqtt out","z":"8d6eb3b2.5c2c2","name":"","topic":"commands/remote","qos":"","retain":"","broker":"c2f54911.112048","x":711,"y":660,"wires":[]},{"id":"8a6fbaa4.a62488","type":"mqtt out","z":"8d6eb3b2.5c2c2","name":"","topic":"commands/temp_desejada","qos":"","retain":"","broker":"c2f54911.112048","x":751,"y":800,"wires":[]},{"id":"d5d3e00b.4309b","type":"ui_slider","z":"8d6eb3b2.5c2c2","name":"Slider temp","label":"Temperatura desejada","tooltip":"","group":"cb20d7bc.b7a558","order":6,"width":"8","height":"2","passthru":true,"outs":"all","topic":"commands/temp_desejada","min":"15","max":"30","step":1,"x":401,"y":800,"wires":[["8a6fbaa4.a62488","7cfbcb1.dfc4234"]]},{"id":"7cfbcb1.dfc4234","type":"ui_gauge","z":"8d6eb3b2.5c2c2","name":"","group":"cb20d7bc.b7a558","order":5,"width":0,"height":0,"gtype":"gage","title":"Temperatura desejada","label":"ºC","format":"{{value}}","min":"15","max":"30","colors":["#0000ff","#ffffff","#ca3838"],"seg1":"","seg2":"","x":751,"y":740,"wires":[]},{"id":"deddc819.a51d88","type":"ui_switch","z":"8d6eb3b2.5c2c2","name":"Habilitar_smart","label":"Ativar controle inteligente","group":"cb20d7bc.b7a558","order":0,"width":"6","height":"1","passthru":true,"decouple":"false","topic":"commands/enable_control","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":391,"y":900,"wires":[["840d90ba.bb03c"]]},{"id":"840d90ba.bb03c","type":"mqtt out","z":"8d6eb3b2.5c2c2","name":"","topic":"commands/enable_control","qos":"","retain":"","broker":"c2f54911.112048","x":731,"y":900,"wires":[]}]